@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header__title, .explore__title, .features__title, .pricing__title, .video__title, .products__title, .testimonials__title {
  font-size: 2.8rem;
  line-height: 60px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.header__title .bold-blue, .explore__title .bold-blue, .features__title .bold-blue, .pricing__title .bold-blue, .video__title .bold-blue, .products__title .bold-blue, .testimonials__title .bold-blue {
  color: #0199e6;
  font-weight: 600;
}

.header__title .bold-white, .explore__title .bold-white, .features__title .bold-white, .pricing__title .bold-white, .video__title .bold-white, .products__title .bold-white, .testimonials__title .bold-white {
  font-weight: 600;
}

.header__subtitle, .explore__subtitle, .explore__subtitle2, .explore__subtitle3, .explore__subtitle4, .features__item-title, .help__subtitle {
  font-size: 1.2rem;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Source Sans Pro";
  text-align: center;
}

.header__form-name, .header__form-email, .header__form-tel {
  width: 13.4rem;
  height: 3.4rem;
  background-color: #000;
  border: 1px solid rgba(1, 153, 230, 0.3);
  border-left: 3px solid #0199e6;
  border-radius: 3px;
  color: #fff;
  font-family: "Source Sans Pro";
  margin-right: 21px;
  padding-left: 1.3rem;
}

.header__form-name::-moz-placeholder, .header__form-email::-moz-placeholder, .header__form-tel::-moz-placeholder {
  color: #e5e5e5;
}

.header__form-name::-webkit-input-placeholder, .header__form-email::-webkit-input-placeholder, .header__form-tel::-webkit-input-placeholder {
  color: #e5e5e5;
}

.header__form-button {
  font-size: 1rem;
  width: 11.4rem;
  height: 3.4rem;
  border-radius: 2px;
  background-color: #008ed6;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.explore__text, .features__text, .features__subtitle, .pricing__subtitle, .video__subtitle, .products__subtitle, .testimonials__subtitle, .testimonials__text, .testimonials__work, .footer__text {
  font-size: 1rem;
  line-height: 25px;
  color: #727272;
  font-weight: 400;
  font-family: "Source Sans Pro";
}

.pricing__table-button, .pricing__table-button-blue, .help__button {
  width: 100px;
  height: 40px;
  display: inline-block;
  font-size: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
  color: #727272;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.burger-menu {
  position: relative;
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: none;
}

.burger-menu span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0199e6;
  top: 11px;
  right: 0;
}

.burger-menu::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0199e6;
  top: 0;
  right: 0;
}

.burger-menu::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #0199e6;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    margin: 0px 0px 30px 20px;
  }
}

.header {
  background: url("../img/header/header-bg.png") no-repeat center/cover;
  width: 100%;
  height: 80vh;
}

.header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

@media (max-width: 576px) {
  .header .container {
    display: block;
  }
}

.header__link img {
  width: 25px;
  height: 25px;
}

.header__links {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media (max-width: 992px) {
  .header__links {
    padding: 0px 20px;
  }
}

.header__title {
  margin: 47px 0px;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 768px) {
  .header__title {
    margin: 20px 0px;
  }
}

.header__subtitle {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 43rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .header__subtitle {
    width: auto;
  }
}

@media (max-width: 768px) {
  .header__subtitle {
    padding: 0px 15px;
  }
}

.header__form {
  width: 59rem;
  height: 6.3rem;
  padding: 20px 0px 0px 24px;
  background-color: rgba(0, 0, 0, 0.5);
  -ms-grid-column-align: center;
      justify-self: center;
}

@media (max-width: 768px) {
  .header__form-name {
    margin: 50px 0px 10px 0px;
  }
}

@media (max-width: 768px) {
  .header__form-email {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 768px) {
  .header__form-tel {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .header__form-button {
    width: 13.4rem;
  }
}

@media (max-width: 992px) {
  .header__form {
    width: auto;
    background: none;
    padding: 0px 40px;
  }
  .header__form-button {
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 100vh;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 20px;
  }
}

.navigation {
  padding: 0px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding-top: 50px;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.explore {
  padding: 100px 10px;
}

.explore:nth-child(3) {
  background-color: #f7f8fa7a;
}

.explore .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 53px;
          column-gap: 53px;
}

.explore__browser {
  -ms-grid-column-align: center;
      justify-self: center;
}

.explore__title {
  color: #323232;
  font-size: 2.18rem;
  text-align: left;
  position: relative;
}

.explore__title::before {
  content: '';
  bottom: 0;
  margin-bottom: -10px;
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #0199e6;
}

.explore__subtitle, .explore__subtitle2, .explore__subtitle3, .explore__subtitle4 {
  position: relative;
  color: #000;
  text-align: left;
  font-size: 1rem;
  line-height: 25px;
  font-weight: 700;
}

.explore__subtitle::before {
  content: url("../img/explore/item1.png");
  padding-top: 6px;
  margin-left: -50px;
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.explore__subtitle2::before {
  content: url("../img/explore/item2.png");
  padding-top: 6px;
  margin-left: -50px;
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.explore__subtitle3::before {
  content: url("../img/explore/item3.png");
  padding-top: 6px;
  margin-left: -50px;
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.explore__subtitle4::before {
  content: url("../img/explore/item4.png");
  padding-top: 6px;
  margin-left: -50px;
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.explore__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore__items {
  padding: 0px 0px 0px 50px;
}

@media (max-width: 992px) {
  .explore__browser {
    display: none;
  }
  .explore__item {
    width: 100%;
  }
  .explore .container {
    display: block;
  }
  .explore__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  .explore__title::before {
    content: "";
    left: 48%;
  }
  .explore__text {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 420px) {
  .explore__title::before {
    content: "";
    left: 40%;
  }
}

.features {
  padding: 110px 0px;
}

.features__title {
  width: 16rem;
  margin: 0 auto;
  font-size: 2.18rem;
  color: #323232;
  margin-bottom: 2.8rem;
  position: relative;
}

.features__title::before {
  content: '';
  bottom: 0;
  margin-bottom: -10px;
  left: 90px;
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #0199e6;
}

.features__text {
  text-align: center;
}

.features__subtitle {
  text-align: center;
  margin-bottom: 5rem;
}

.features__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  row-gap: 5.3rem;
}

@media (min-width: 576px) {
  .features__table {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    row-gap: 5.3rem;
  }
}

@media (max-width: 576px) {
  .features__table {
    -ms-grid-columns: none;
        grid-template-columns: none;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    row-gap: 5.3rem;
  }
}

.features__item {
  padding: 0px 20px;
}

.features__item-title {
  font-size: 1.25rem;
  color: #323232;
  font-weight: 600;
  margin-bottom: 1rem;
}

.features__icon {
  margin: 0 auto;
  margin-bottom: 2.5rem;
  width: 60px;
  height: 60px;
}

.pricing {
  background-color: #f7f8fa;
  padding: 100px 0px;
}

.pricing__title {
  width: 16rem;
  margin: 0 auto;
  font-size: 2.18rem;
  color: #323232;
  margin-bottom: 2.8rem;
  position: relative;
}

.pricing__title::before {
  content: '';
  bottom: 0;
  margin-bottom: -10px;
  left: 90px;
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #0199e6;
}

.pricing__subtitle {
  color: #323232;
  text-align: center;
  margin-bottom: 5rem;
}

.pricing__row {
  display: -ms-grid;
  display: grid;
  padding: 0px 10px;
}

@media (min-width: 992px) {
  .pricing__row {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 992px) {
  .pricing__row {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
}

.pricing__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr (1fr)[6] 1.5fr;
      grid-template-rows: 2fr repeat(6, 1fr) 1.5fr;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.pricing__table-name {
  background-color: #323232;
  padding: 25px 0px;
}

.pricing__table-name-blue {
  background-color: #0199e6;
  padding: 25px 0px;
}

.pricing__table-title {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.pricing__table-subtitle {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  font-family: "Source Sans Pro";
  text-align: center;
}

.pricing__table-subtitle span {
  color: #0199e6;
  font-weight: 600;
}

.pricing__table-subtitle-blue {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  font-family: "Source Sans Pro";
  text-align: center;
}

.pricing__table-subtitle-blue span {
  color: #fff;
  font-weight: 600;
}

.pricing__table-item {
  font-size: 1rem;
  line-height: 3.125rem;
  color: #323232;
  font-weight: 400;
  font-family: "Source Sans Pro";
  border: 1px dotted #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px;
}

.pricing__table-item span {
  font-size: 1rem;
  line-height: 3.125rem;
  color: #323232;
  font-weight: 600;
  font-family: "Source Sans Pro";
}

@media (max-width: 1200px) {
  .pricing__table-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pricing__table-footer {
  padding: 0px 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.pricing__table-price {
  font-size: 1.3rem;
  line-height: 5rem;
  font-weight: 600;
  color: #323232;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Source Sans Pro";
}

.pricing__table-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 10px 0px 0px 0px;
}

.pricing__table-button-blue {
  background-color: #0199e6;
  color: #fff;
  border: 1px solid #0199e6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 10px 0px 0px 0px;
}

@media (max-width: 992px) {
  .pricing__table {
    margin-bottom: 20px;
  }
}

.video {
  padding: 100px 0px;
  background-color: #fff;
}

.video__title {
  width: 16rem;
  margin: 0 auto;
  font-size: 2.18rem;
  color: #323232;
  margin-bottom: 2.8rem;
  position: relative;
}

.video__title::before {
  content: '';
  bottom: 0;
  margin-bottom: -10px;
  left: 90px;
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #0199e6;
}

.video__subtitle {
  text-align: center;
  margin-bottom: 5rem;
}

.video__photo {
  text-align: center;
  padding: 0px 15px;
}

@media (max-width: 992px) {
  .video__photo {
    width: auto;
  }
  .video__photo img {
    width: 100%;
  }
}

.products {
  padding: 110px 0px;
  background-color: #f7f8fa;
}

.products__title {
  width: 22rem;
  margin: 0 auto;
  font-size: 2.18rem;
  color: #323232;
  margin-bottom: 2.8rem;
  position: relative;
}

.products__title::before {
  content: '';
  bottom: 0;
  margin-bottom: -10px;
  left: 140px;
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #0199e6;
}

@media (max-width: 420px) {
  .products__title {
    width: 20rem;
  }
  .products__title::before {
    left: 130px;
  }
}

.products__subtitle {
  color: #323232;
  text-align: center;
  margin-bottom: 5rem;
}

.products__row {
  display: -ms-grid;
  display: grid;
  margin-bottom: 50px;
  padding: 0px 15px;
}

@media (min-width: 1200px) {
  .products__row {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .products__row {
    -ms-grid-columns: none;
        grid-template-columns: none;
    justify-items: center;
    row-gap: 30px;
  }
}

@media (max-width: 420px) {
  .products__row {
    padding: 0px 0px;
    width: 100vw;
  }
}

.products__buttons {
  width: 60px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.products__buttons a {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #94cae6;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: all;
  transition-property: all;
}

.products__buttons a:hover {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  background-color: #0199e6;
}

@media (max-width: 768px) {
  .products__buttons {
    display: none;
  }
}

@media (max-width: 420px) {
  .products__item img {
    width: 100%;
  }
}

.testimonials {
  padding: 110px 0px;
}

@media (max-width: 420px) {
  .testimonials .container {
    padding: 0px 10px;
  }
}

.testimonials__title {
  width: 25rem;
  margin: 0 auto;
  font-size: 2.18rem;
  color: #323232;
  margin-bottom: 2.8rem;
  position: relative;
}

.testimonials__title::before {
  content: '';
  bottom: 0;
  margin-bottom: -10px;
  left: 150px;
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #0199e6;
}

@media (max-width: 576px) {
  .testimonials__title {
    width: 23rem;
  }
}

@media (max-width: 420px) {
  .testimonials__title {
    width: 20rem;
  }
  .testimonials__title::before {
    left: 130px;
  }
}

.testimonials__subtitle {
  color: #323232;
  text-align: center;
  margin-bottom: 5rem;
}

.testimonials__brands {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-bottom: 90px;
}

@media (max-width: 576px) {
  .testimonials__brands {
    -ms-grid-columns: none;
        grid-template-columns: none;
    row-gap: 30px;
  }
}

.testimonials__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  padding: 0px 15px;
}

@media (max-width: 576px) {
  .testimonials__row {
    -ms-grid-columns: none;
        grid-template-columns: none;
    row-gap: 50px;
    padding: 0px 15px;
  }
}

.testimonials__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5fr 1fr;
      grid-template-rows: 5fr 1fr;
  row-gap: 30px;
}

.testimonials__icon {
  position: absolute;
  text-align: center;
  z-index: 2;
  margin-top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.testimonials__text {
  position: relative;
  padding: 25px 30px;
  text-align: center;
  font-style: italic;
  background-color: #f7f7fa;
  border-radius: 3px;
  -webkit-filter: drop-shadow(0px 2px 0px #e5e5e5);
          filter: drop-shadow(0px 2px 0px #e5e5e5);
}

.testimonials__name {
  display: block;
  color: #0199e6;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.testimonials__work {
  display: block;
  font-size: 0.8rem;
  text-align: center;
}

.help {
  padding: 100px 15px;
  background: url("../img/help/bg.png") no-repeat center/cover;
  height: 450px;
}

.help .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help__subtitle {
  font-size: 1.25rem;
  line-height: 60px;
  font-family: inherit;
  font-weight: 700;
}

.help__title {
  font-size: 2.18rem;
  line-height: 65px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}

.help__button {
  position: relative;
  width: 184px;
  height: 54px;
  border-radius: 2px;
  padding-top: 20px;
  border: 0px;
  color: #fff;
  background-color: #008ed6;
  margin-top: 30px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.help__button::after {
  position: absolute;
  content: url("../img/help/button-row.png");
  padding-left: 10px;
}

@media (max-width: 576px) {
  .help {
    padding-top: 60px;
  }
}

.footer__contact {
  padding: 85px 0px;
}

.footer__contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  color: #323232;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 25px;
}

.footer__links {
  background-color: #f7f8fa;
  padding: 70px 0px 90px 0px;
}

.footer__links .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  line-height: 30px;
  margin: 10px 0px;
}

.footer__link {
  width: 26px;
  height: 26px;
}
