@import "../scss/nullstyle";
@import "../scss/variables";


body{
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.burger-menu{
    position: relative;
    width: 30px;
    height: 25px;
    cursor:pointer;
    display: none;
    & span{
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $bluecolor;
        top: 11px;
        right: 0;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $bluecolor;
        top: 0;
        right: 0;
    }
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $bluecolor;
        bottom: 0;
        right: 0;
    }
    @media (max-width:$breakpointmd) {
        display: block;
        margin: 20px 0px 0px 20px;
    }
}

.header{
    & .container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    background: url('../img/header/header-bg.png') no-repeat center / cover;
    width: 100%;
    height: 80vh;
        &__link img {
            width: 25px;
            height: 25px;
        }
        &__links{
            justify-self: end;
        }
        &__title{
            @extend %title;
            margin: 47px 0px;
            justify-self: center;
            @media (max-width:$breakpointmd) {
                margin: 0px;
            }
        }
        &__subtitle{
            @extend %subtitle;
            justify-self: center;
            width: 43rem;
            margin: 0 auto;
            @media (max-width:$breakpointmd) {
                width: auto;
            }
        }
        &__form{
            width: 59rem;
            height: 6.3rem;
            padding: 20px 0px 0px 24px;
            background-color: rgba(0, 0, 0, 0.5);
            justify-self: center;
                &-name{
                    @extend %input;
                    @media (max-width:$breakpointmd) {
                        margin: 50px 0px 10px 0px;
                    }
                }
                &-email{
                    @extend %input;
                    @media (max-width:$breakpointmd) {
                        margin: 0px 0px 10px 0px;
                    }
                }
                &-tel{
                    @extend %input;
                    @media (max-width:$breakpointmd) {
                        margin-right: 0px
                    }
                }
                &-button{
                    @extend %inputbutton;
                    @media (max-width:$breakpointmd) {
                        width: 13.4rem;
                    }
                }
                @media (max-width:$breakpointlg) {
                    width: auto;
                    background: none;
                    padding: 0px 40px;
                    &-button{
                        margin: 0 auto;
                        margin-top: 10px;
                    }
                }
                &:focus-within{
                    padding: 0px;
                }
        }
        @media (max-width:$breakpointxl){
            height: 100vh;
        }
        @media (max-width:$breakpointsm) {
            height: 160vh;
        }
}

.navigation{
    padding: 0px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top:50px;
    @media (max-width:$breakpointmd) {
        display: none;
    }
}

.explore{
    &:nth-child(3){
        background-color: #f7f8fa7a;
    }
    padding: 100px 10px;
    & .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 53px;
    }
    &__browser{
        justify-self: center;
    }

    &__title{
        @extend %title;
        color: #323232;
        font-size: 2.18rem;
        text-align: left;
        position: relative;
            &::before{
                content: '';
                bottom: 0;
                margin-bottom: -10px;
                position: absolute;
                width: 68px;
                height: 1px;
                background-color: #0199e6;
            }
    }

    &__subtitle,&__subtitle2,&__subtitle3,&__subtitle4{
        @extend %subtitle;
        position: relative;
        color: #000;
        text-align: left;
        font-size: 1rem;
        line-height: 25px;
        font-weight: $fwbold;
    }

    &__subtitle{
        &::before{
            content: url('../img/explore/item1.png');
            padding-top: 6px;
            margin-left: -50px;
            position: absolute;
            width: 2rem;
            height: 2rem;
        }
    }
    &__subtitle2{
        &::before{
            content: url('../img/explore/item2.png');
            padding-top: 6px;
            margin-left: -50px;
            position: absolute;
            width: 2rem;
            height: 2rem;
        }
    }
    &__subtitle3{
        &::before{
            content: url('../img/explore/item3.png');
            padding-top: 6px;
            margin-left: -50px;
            position: absolute;
            width: 2rem;
            height: 2rem;
        }
    }
    &__subtitle4{
        &::before{
            content: url('../img/explore/item4.png');
            padding-top: 6px;
            margin-left: -50px;
            position: absolute;
            width: 2rem;
            height: 2rem;
        }
    }

    &__text{
        @extend %text;
    }

    &__item{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
    }
    &__items{
        padding: 0px 0px 0px 50px;
    }

    @media (max-width:$breakpointlg) {
        &__browser{
            display: none;
        }
        &__item{
            width: 100%;
        }
        & .container{
            display: block;
        }
        &__title{
            text-align: center;
            margin: 0px 0px 20px 0px;
            &::before{
                content:"";
                left: 48%;
            }
        }
        &__text{
            margin: 0px 0px 20px 0px;
        }
    }
    @media (max-width:$breakpointxs) {
        &__title{
            &::before{
                content:"";
                left: 40%;
            }
        }
    }
}

.features{
    padding: 110px 0px;
    &__title{
        @extend %title;
        width: 16rem;
        margin: 0 auto;
        font-size: 2.18rem;
        color: #323232;
        margin-bottom: 2.8rem;
        position: relative;
        &::before{
            content: '';
            bottom: 0;
            margin-bottom: -10px;
            left: 90px;
            position: absolute;
            width: 68px;
            height: 1px;
            background-color: #0199e6;
        }
    }
    &__text{
        @extend %text;
        text-align: center;
    }
    &__subtitle{
        @extend %text;
        text-align: center;
        margin-bottom: 5rem;
    }
    &__table{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 5.3rem;
        @media (min-width:$breakpointsm) {
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            row-gap: 5.3rem;
        }
        @media (max-width:$breakpointsm) {
            grid-template-columns: none;
            grid-template-rows: repeat(6,1fr);
            row-gap: 5.3rem;
        }
    }
    &__item{
        padding:0px 20px;
        &-title{
            @extend %subtitle;
            font-size: 1.25rem;
            color: #323232;
            font-weight: $fwsolidbold;
            margin-bottom: 1rem;
        }
    }
    &__icon{
        margin: 0 auto;
        margin-bottom: 2.5rem;
        width: 60px;
        height: 60px;
    }
}

.pricing{
    background-color: #f7f8fa;
    padding: 100px 0px;
    &__title{
        @extend %title;
        width: 16rem;
        margin: 0 auto;
        font-size: 2.18rem;
        color: #323232;
        margin-bottom: 2.8rem;
        position: relative;
        &::before{
            content: '';
            bottom: 0;
            margin-bottom: -10px;
            left: 90px;
            position: absolute;
            width: 68px;
            height: 1px;
            background-color: #0199e6;
        }
    }
    &__subtitle{
        @extend %text;
        color: #323232;
        text-align: center;
        margin-bottom: 5rem;
    }
    &__row{
        display: grid;
        padding: 0px 10px;
        @media (min-width:$breakpointlg) {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 15px;
        }
        @media (max-width:$breakpointlg) {
            grid-template-columns: none;
        }
    }
    &__table{
        display: grid;
        grid-template-rows: 2fr repeat(6, 1fr) 1.5fr;
        border-radius: 4px;
        background-color: #ffffff;
        border: 1px solid #e5e5e5;
        &-name{
            background-color: #323232;
            padding: 25px 0px;
            &-blue{
                background-color: $bluecolor;
                padding: 25px 0px;
            }
        }
        &-title{
            font-size: 1.5rem;
            color: #ffffff;
            font-weight: $fwsolidbold;
            text-align: center;
            margin-bottom: 15px;
        }
        &-subtitle{
            font-size: 1rem;
            color: #ffffff;
            font-weight: $frwregular;
            font-family: "Source Sans Pro";
            text-align: center;
            & span{
                color: $bluecolor;
                font-weight: $fwsolidbold;
            }
            &-blue{
                font-size: 1rem;
                color: #ffffff;
                font-weight: $frwregular;
                font-family: "Source Sans Pro";
                text-align: center;
                & span{
                    color: #fff;
                    font-weight: $fwsolidbold;
                }
            }
        }
        &-item{
            font-size: 1rem;
            line-height: 3.125rem;
            color: #323232;
            font-weight: $frwregular;
            font-family: "Source Sans Pro";
            border: 1px dotted #e5e5e5;
            display: flex;
            justify-content: space-between;
            padding: 0px 15px;
            & span{
                font-size: 1rem;
                line-height: 3.125rem;
                color: #323232;
                font-weight: $fwsolidbold;
                font-family: "Source Sans Pro";
            }
            @media (max-width:$breakpointxl) {
                align-items: center;
            }
        }
        &-footer{
            padding: 0px 15px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        &-price{
            font-size: 1.3rem;
            line-height: 5rem;
            font-weight: $fwsolidbold;
            color: #323232;
            align-items: center;
            font-family: "Source Sans Pro";
        }
        &-button{
            @extend %button;
            align-self: center;
            justify-self: end;
            padding: 10px 0px 0px 0px;
            &-blue{
                @extend %button;
                background-color: $bluecolor;
                color: #fff;
                border: 1px solid $bluecolor;
                align-self: center;
                justify-self: end;
                padding: 10px 0px 0px 0px;
            }
        }
        @media (max-width:$breakpointlg) {
            margin-bottom: 20px;
        }
    }
}

.video{
    padding: 100px 0px;
    background-color: #fff;
    &__title{
        @extend %title;
        width: 16rem;
        margin: 0 auto;
        font-size: 2.18rem;
        color: #323232;
        margin-bottom: 2.8rem;
        position: relative;
        &::before{
            content: '';
            bottom: 0;
            margin-bottom: -10px;
            left: 90px;
            position: absolute;
            width: 68px;
            height: 1px;
            background-color: #0199e6;
        }
    }
        &__subtitle{
            @extend %text;
            text-align: center;
            margin-bottom: 5rem;
        }
    &__photo{
        text-align: center;
        padding: 0px 15px;
        @media (max-width:$breakpointlg) {
            width: auto;
            & img {
                width: 100%;
            }
        }
    }

}

.products{
    padding: 110px 0px;
    background-color: #f7f8fa;
    &__title{
        @extend %title;
        width: 22rem;
        margin: 0 auto;
        font-size: 2.18rem;
        color: #323232;
        margin-bottom: 2.8rem;
        position: relative;
        &::before{
            content: '';
            bottom: 0;
            margin-bottom: -10px;
            left: 140px;
            position: absolute;
            width: 68px;
            height: 1px;
            background-color: #0199e6;
        }
        @media (max-width:$breakpointxs) {
            width: 20rem;
                &::before{
                    left: 130px;
                }
        }
    }
    &__subtitle{
        @extend %text;
        color: #323232;
        text-align: center;
        margin-bottom: 5rem;
    }
    &__row{
        display: grid;
        margin-bottom: 50px;
        padding: 0px 15px;
        @media (min-width:$breakpointxl) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:$breakpointxl) {
            grid-template-columns: none;
            justify-items: center;
            row-gap: 30px;
        }
        @media (max-width:$breakpointxs) {
            padding: 0px 0px;
            width: 100vw;
        }
    }
    &__buttons{
        width: 60px;
        height: 15px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        & a{
            width: 14px;
            height: 14px; 
            border-radius: 100%;
            background-color: #94cae6;
            transition-duration: 0.6s;
            transition-property:all;
            &:hover{
                transition-duration: 0.6s;
                transition-property:background-color;
                background-color: $bluecolor;
            }
        }
        @media (max-width:$breakpointmd) {
            display: none;
        }
    }
    @media (max-width:$breakpointxs) {
        &__item img{
            width: 100%;
        }
    }
}

.testimonials{
    padding: 110px 0px;
    & .container{
        @media (max-width:$breakpointxs) {
            padding: 0px 10px;
        }
    }
    &__title{
        @extend %title;
        width: 25rem;
        margin: 0 auto;
        font-size: 2.18rem;
        color: #323232;
        margin-bottom: 2.8rem;
        position: relative;
        &::before{
            content: '';
            bottom: 0;
            margin-bottom: -10px;
            left: 150px;
            position: absolute;
            width: 68px;
            height: 1px;
            background-color: #0199e6;
        }
        @media (max-width:$breakpointsm) {
            width: 23rem;
        }
        @media (max-width:$breakpointxs) {
            width: 20rem;
            &::before{
                left: 130px;
            }
        }
    }

    &__subtitle{
            @extend %text;
            color: #323232;
            text-align: center;
            margin-bottom: 5rem;
    }
    &__brands{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin-bottom: 90px;
        @media (max-width:$breakpointsm) {
            grid-template-columns: none;
            row-gap: 30px;
        }
    }
    &__row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        padding: 0px 15px;
        @media (max-width:$breakpointsm) {
            grid-template-columns: none;
            row-gap: 50px;
            padding: 0px 15px;
        }
    }
    &__item{
        display: grid;
        grid-template-rows: 5fr 1fr;
        row-gap: 30px;
    }
    &__icon{
        position: absolute;
        text-align: center;
        z-index: 2;
        margin-top: -50px;
        left:50%;
        transform:translate(-50%);
    }
    &__text{
        @extend %text;
        position: relative;
        padding: 25px 30px;
        text-align: center;
        font-style: italic;
        background-color: #f7f7fa;
        border-radius: 3px;
        filter: drop-shadow(0px 2px 0px #e5e5e5);
    }
    &__name{
        display: block;
        color: $bluecolor;
        text-align: center;
        font-weight: $fwbold;
        font-size: 1rem;
    }
    &__work{
        display: block;
        @extend %text;
        font-size: 0.8rem;
        text-align: center;
    }
}

.help{
    padding: 100px 15px;
    background: url('../img/help/bg.png') no-repeat center / cover;
    height: 450px;
    & .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__subtitle{
        @extend %subtitle;
        font-size: 1.25rem;
        line-height: 60px;
        font-family: inherit;
        font-weight: $fwbold;
    }
    &__title{
        font-size: 2.18rem;
        line-height: 65px;
        color: #ffffff;
        font-weight: $fwbold;
        text-align: center;
    }
    &__button{
        position: relative;
        @extend %button;
        width: 184px;
        height: 54px;
        border-radius: 2px;
        padding-top: 20px;
        border: 0px;
        color: #fff;
        background-color: #008ed6;
        margin-top: 30px;
        align-self: center;
            &::after{
                position: absolute;
                content: url('../img/help/button-row.png');
                padding-left: 10px;
            }
    }
    @media (max-width:$breakpointsm) {
        padding-top: 60px ;
    }
}

.footer{
    &__contact{
        & .container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        padding: 85px 0px;
    }
    &__title{   
        color: #323232;
        font-weight: $fwsolidbold;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 25px;
    }
    &__links{
        & .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        background-color: #f7f8fa;
        padding: 70px 0px 90px 0px;
    }
    &__text{
        @extend %text;
        line-height: 30px;
        margin: 10px 0px;
    }
    &__link{
        width: 26px;
        height: 26px;
    }
}



